# Flutter / Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.kotlin/
# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Generated apps / archives
*.apk
*.aab
*.ipa
*.zip
*.rar
*.7z

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.hprof


# Android signing files
android/key.properties
android/app/upload-keystore.jks
*.jks
*.keystore